body {
    margin: 0;
}

body,
html,
#app,
.app-wrap {
    height: 100%;
}

.app-wrap {
    display: flex;
    flex-direction: column;
}

.work-wrap {
    flex: 1;
    display: flex;
    background: #EEE;
    align-items: center;
    justify-content: center;
}