.editing-image-wrap {
    position: relative;
    display: inline-block;

    color: #DDD;
    background-image: conic-gradient(currentColor 0 25%, transparent 0 50%, currentColor 0 75%, transparent 0);
    background-size: 16px 16px;
}

.editing-image-wrap canvas {
    display: block;
}