.layer-selector {
    position: fixed;
    bottom: 80px;
    right: 20px;

    width: 300px;

    background: #e4e4e4;
    border: 2px solid #000;

}

.layer-list {
    display: flex;
    flex-direction: column-reverse;
}

.layer-item {
    padding: 1rem;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #000;
}

.visibility-toggler {
    width: 20px;
    height: 20px;
    margin-right: .5rem;
}

.layer-preview {
    width: 40px;
    height: 20px;
    background: #FFF;
    border: 1px solid #000;
    margin-right: .5rem;
}

.layer-item.selected {
    background: rgba(0, 0, 0, .1);
}

.layer-actions {
    display: flex;
}

.layer-action-btn {
    display: flex;
    align-items: center;
    justify-content: center;
}

.mask-preview {
    width: 40px;
    height: 20px;
    background: #FFF;
    border: 1px solid #000;
    margin-right: .5rem;
}

.layer-preview.selected,
.mask-preview.selected {
    outline: 2px solid red;
}

.layer-item {
    position: relative;
}

.layer-item.drag {
    opacity: .5;
}

@keyframes drop-zone {
    from { box-shadow: 0 0 0 0 #4263eb }
    to   { box-shadow: 0 0 0 15px #0000 }
}

.layer-item::before {
    content: '';
    inset: 0;
    position: absolute;
    border-radius: 8px;
    pointer-events: none;
}

.layer-item.drag-over::before {
    animation: drop-zone 1s ease-in-out infinite;
    pointer-events: none;
}

.layer-item.drag-over::after {
    content: '';
    position: absolute;
    inset: 0;
    border: 4px dashed #4263eb;
}

.list-move {
  transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);
}
