.layer-selector {
    position: fixed;
    bottom: 80px;
    right: 20px;

    width: 300px;

    background: #e4e4e4;
    border: 2px solid #000;

}

.layer-list {
    display: flex;
    flex-direction: column-reverse;
}

.layer-item {
    padding: 1rem;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ccc;
}


.visibility-toggler {
    width: 20px;
    height: 20px;
    margin-right: .5rem;
}

.layer-preview {
    width: 40px;
    height: 20px;
    background: #FFF;
    border: 1px solid #000;
    margin-right: .5rem;
}

.layer-item.selected {
    background: skyblue;
}

.layer-actions {
    display: flex;
}

.layer-action-btn {
    display: flex;
    align-items: center;
    justify-content: center;
}

.mask-preview {
    width: 40px;
    height: 20px;
    background: #FFF;
    border: 1px solid #000;
    margin-right: .5rem;
}

.layer-preview.selected,
.mask-preview.selected {
    outline: 2px solid red;
}