.image-cropper {
    position: absolute;
    inset: 0;
}

.image-cropper * {
    user-select: none;
}

.image-cropper.resizing {
    cursor: none;
}

.image-cropper.resizing .crop-handle {
    opacity: 0;
    cursor: none;
}

.image-cropper.resizing>* {
    cursor: none;
}

.image-mask {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, .5);
}

.crop-area {
    position: absolute;
    width: 100px;
    height: 100px;
    top: 0;
    left: 0;
    backdrop-filter: brightness(2);
    cursor: move;

    user-select: none;
    box-sizing: border-box;
}

.crop-handle {
    --size: 10px;
    --offset: -5px;

    position: absolute;
    width: var(--size);
    height: var(--size);
    background: #FFF;
    border: 1px solid #666;
    box-sizing: border-box;

    user-select: none;
    transition: opacity .3s;
}

/**
* Optimize
**/
.crop-handle::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    transform: scale(2);
}

.crop-handle:hover::after {
    background: rgb(0, 0, 0, .1);
}

.handle-left {
    left: var(--offset)
}

.handle-top {
    top: var(--offset)
}

.handle-right {
    right: var(--offset)
}

.handle-bottom {
    bottom: var(--offset)
}

.handle-vmid {
    top: 50%;
    cursor: ew-resize;
    transform: translateY(-50%);
}

/** Horizontal Mid **/
.handle-hmid {
    left: 50%;
    cursor: ns-resize;
    transform: translateX(-50%);
}

.handle-left.handle-top {
    cursor: nw-resize;
}

.handle-right.handle-top {
    cursor: ne-resize;
}

.handle-right.handle-bottom {
    cursor: se-resize;
}

.handle-left.handle-bottom {
    cursor: sw-resize;
}